.login {
    @include flex-center;
    @include auth-background;

    &__redirect {
        font-size: 1.5rem;
        color: #737373;
    }

    &__redirect span {
        @media screen and (max-width: 428px) {
            font-weight: 700;
        }
    }
}

.login__form {
    @include flex-center(column);
    justify-content: space-evenly;
    height: 60%;
    width: 90%;
    max-width: 450px;
    max-height: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 5rem;

    &--heading {
        font-size: 2.8rem;
    }

    &--input {
        @include form-input;
        @include form-element($color-grey);
        @include form-element-constraints;
    }

    &--btn {
        @include form-btn;
        @include form-element($color-primary);
        @include form-element-constraints;
    }

    @media screen and (min-width: 428px) {
        max-height: 450px;
    }
}
