.profile {
    text-align: center;
    margin-top: 10rem;

    &__logout {
        position: absolute;
        right: 3rem;
        top: 5rem;
    }

    &__container {
        margin-top: 3rem;
        margin-left: 1.5rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__text {
        color: $color-grey;
        margin-top: 30vh;
    }

    &__link {
        @extend .movielist__link;
    }

    &__movie {
        @extend .movielist__poster;
        height: 30rem;
        margin-bottom: 2rem;
    }

    .MuiSvgIcon-root {
        font-size: 3.5rem;
    }
}
