.content {
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    color: #c0c0c0;

    &__title {
        margin-top: 40px;
        line-height: 1.5;
    }

    &__subtitle {
        margin: 2rem auto;
    }

    &__overview {
        line-height: 2;
    }
}
