.content {
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    color: #c0c0c0;

    &__title {
        margin: 40px auto 20px;
        line-height: 1.5;

        @media screen and (max-width: 428px) {
            font-size: 5rem;
        }
    }

    &__overview {
        font-size: 1.8rem;
        line-height: 2;

        @media screen and (max-width: 428px) {
            font-size: 2rem;
        }
    }
}
