.movielist {
    padding: 3rem 0;
    margin-top: -5rem;

    &__heading {
        padding-left: 3rem;
        text-transform: capitalize;
    }

    &__container {
        padding: 2rem 3rem 3rem;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__poster {
        height: 25rem;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
}
