@mixin auth-background {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
        url("../images/auth-background.jpg");
}

@mixin form-input {
    font-size: 1.4rem;
    padding: 1.5rem;
}

@mixin form-btn {
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

@mixin form-element($color: $color-grey) {
    outline-width: 0;
    border: none;
    border-radius: 5px;
    background-color: $color;
    color: #fff;
}

@mixin form-element-constraints {
    height: 50px;
    width: 90%;
}

@mixin flex-center($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
